.user-page {
    .operate {
      font-size: 32px;
      color: #808080;

      iconfont {
        display: flex;
        align-items: center;
      }
    }


    .operate-card {
      box-shadow: $default-shadow;
      margin: 40px 0;
    }
}
