
.instantaneos-card {
  margin: 10px $instantaneous-flow-margin 0 $instantaneous-flow-margin;
  border-bottom: 1px solid $divide-line-color;

  .i-header {
    display: flex;
    align-items: center;

    .avatar {
      height: $avatar-width;
      width: $avatar-width;
    }

    .nickname {
      margin-left: $nickname-left-margin;
      font-size: 16px;
      font-weight: bold;
      color: $theme-color;
    }
  }


  .i-body {
    margin-left: $avatar-width + $nickname-left-margin;
    margin-bottom: 10px;

    .graphic-text {
      font-size: 14px;
      color: $text-color;
    }

    .graphic-images {

      .image-cell {
        width: $image-cell-width;
        height: $image-cell-width;
        margin-right: 5px;
        margin-bottom: 5px;
        overflow: hidden;
      }

      .image-cell:nth-child(3n) {
        margin-left: 0;
      }
      .image-cell:nth-child(n+7) {
        margin-bottom: 0;
      }
    }
  }

  .i-footer {
    margin-bottom: 5px;
    margin-left: $avatar-width + $nickname-left-margin;
    display: flex;
    justify-content: space-between;

    .publish-time {
      color: #808080;
      font-size: 12px;
    }

    .operation {
      display: flex;
      width: 50px;
      justify-content: space-around;
    }
  }
}
