.activity-defailt-page {
  // .taroify-steps--vertical {
  //   padding: 0 0 0 120px;
  // }
    .activity-item-text {
      font-size: 32px;
      color: #505050;
    }

    .sudoku-contailer {
      display: flex;
      justify-content: center;
    }
}
